<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/DBMercadologic</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">enc:AQMMBgU=</property>
    <property name="hibernate.hbm2ddl.auto">validate</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <mapping resource="br/com/pi/utilitario/dominio/Aliquota.hbm.xml"/>
    <mapping resource="br/com/pi/utilitario/dominio/Caixa.hbm.xml"/>
    <mapping resource="br/com/pi/utilitario/dominio/Cliente.hbm.xml"/>
    <mapping resource="br/com/pi/utilitario/dominio/CupomFiscal.hbm.xml"/>
    <mapping resource="br/com/pi/utilitario/dominio/DadosTefDedicado.hbm.xml"/>
    <mapping resource="br/com/pi/utilitario/dominio/DocumentoNaoFiscal.hbm.xml"/>
    <mapping resource="br/com/pi/utilitario/dominio/Departamento.hbm.xml"/>
    <mapping resource="br/com/pi/utilitario/dominio/Ecf.hbm.xml"/>
    <mapping resource="br/com/pi/utilitario/dominio/Empresa.hbm.xml"/>
    <mapping resource="br/com/pi/utilitario/dominio/FormaPagamento.hbm.xml"/>
    <mapping resource="br/com/pi/utilitario/dominio/FormaPagamentoEfetuada.hbm.xml"/>
    <mapping resource="br/com/pi/utilitario/dominio/Item.hbm.xml"/>
    <mapping resource="br/com/pi/utilitario/dominio/ItemCupomFiscal.hbm.xml"/>
    <mapping resource="br/com/pi/utilitario/dominio/PagamentoTef.hbm.xml"/>
    <mapping resource="br/com/pi/utilitario/dominio/Pdv.hbm.xml"/>
    <mapping resource="br/com/pi/utilitario/dominio/ReducaoZ.hbm.xml"/>
    <mapping resource="br/com/pi/utilitario/dominio/Sessao.hbm.xml"/>
    <mapping resource="br/com/pi/utilitario/dominio/Unidade.hbm.xml"/>
    <mapping resource="br/com/pi/utilitario/dominio/Usuario.hbm.xml"/>
    <mapping resource="br/com/pi/utilitario/dominio/Configuracao.hbm.xml"/>
    <mapping resource="br/com/pi/utilitario/dominio/Programa.hbm.xml"/>
    <mapping resource="br/com/pi/utilitario/dominio/PermissaoPrograma.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
