<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/DBMercadologic</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">enc:AQMMBgU=</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">false</property>
        <mapping resource="br/com/pi/concentrador/dominio/Atualizacao.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/Unidade.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/PapelOperacao.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/ItensCestaBasica.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/ItemCestaBasicaCupom.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/Caixa.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/Operacao.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/ItemCupomFiscal.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/Papel.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/Usuario.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/Promocao.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/Ecf.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/FormaPagamentoEfetuada.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/PapelUsuario.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/Cmc7FormaPagamentoEfetuada.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/FormaPagamento.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/ItemClientePreferencial.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/Pdv.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/Sessao.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/CestaBasicaCupom.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/Alinea.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/Aliquota.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/Cliente.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/Ean.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/Item.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/CupomFiscal.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/Departamento.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/SangriaEfetuada.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/ItemPromocao.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/Empresa.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/PagamentoTef.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/RecargaCelular.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/DadosTefDedicado.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/CorrespondenteBancario.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/OrigemEstoque.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/GrupoPropriedade.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/Propriedade.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/PerfilPdv.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/PropriedadePerfil.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/EmpresaDesenvolvedora.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/Suprimento.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/ReducaoZ.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/BloqueioSessao.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/DocumentoNaoFiscal.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/Teclado.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/FuncaoTeclado.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/Contabilista.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/ItemProducao.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/MotivoCancelamento.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/LogOperacao.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/Tela.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/PapelConcentrador.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/PapelConcentradorTela.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/PapelConcentradorUsuario.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/PromocaoLevePague.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/ItemPromocaoLevePague.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/FaixaPrecoPromocaoLevePague.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/Configuracao.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/ComprovanteNaoFiscal.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/ItemPreVenda.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/PreVenda.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/DominioInformacao.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/ItemDominioInformacao.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/CupomFiscalEletronico.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/Ticket.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/EventoTicket.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/Abono.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/Juros.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/RetornoSefaz.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/RotaDeEntrega.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/Entrega.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/Caixote.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/Programa.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/PermissaoPrograma.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/TicketEmbratecc.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/PerfilGrupo.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/PromoCampEmpresaConveniada.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/PromoCampBinsEmpConveniada.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/PromoCampGrupoDeVenda.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/PromoCampClientesGrupoDeVenda.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/PromocaoCampanha.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/PromocaoPackVirtual.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/MotivoSangria.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/ComissaoRecarga.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/TaxaDeEntrega.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/DadosCliente.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/ModalidadeFrete.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/Devolucao.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/Transportadora.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/RelatorioDesconto.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/RelatorioSaidaOperador.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/ItemDevolucao.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/MotivoDesconto.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/MotivoSuprimento.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/DigitalUsuario.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/EntidadeDestino.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/TrocoSolidario.hbm.xml"/>
        <mapping resource="br/com/pi/concentrador/dominio/InutilizacaoSefaz.hbm.xml"/>
    </session-factory>
</hibernate-configuration>